<div class='row col-md-8 col-md-offset-2'>
  <h1>NEW SYLLABUS</h1>
  <%= simple_form_for @syllabus, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
    <%= f.input :subject, label: 'Subject' %>
    <%= simple_fields_for @syllabus.instructor, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f_instructor| %>
      <%= f_instructor.input :first_name, label: 'Instructor First Name' %>
      <%= f_instructor.input :last_name, label: 'Instructor Last Name' %>
    <% end %>
    <%= f.input :start_date, label: 'Start' %>
    <%= f.input :end_date, label: 'End' %>
    <% Schedule::WEEK_DAYS_MAP.values.each do |day| %>
      <%= f.input day, label: day.capitalize %>
    <% end %>
    <%= f.button :submit, "Next Step" %>
  <% end %>
</div>
